<!DOCTYPE html>
<html>
  <head>
    <title>Paranoid Settings</title>
    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/bootstrap-editable.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
  </head>
  <body>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-2">
          <img src="/res/icon.png" class="mx-auto d-block mb-4" alt="" />

          <div
            class="nav nav-pills flex-column mb-4"
            id="pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link active"
              id="pills-services-tab"
              data-toggle="pill"
              href="#pills-services"
              role="tab"
              aria-controls="pills-services"
              aria-selected="true"
              >Services</a
            >
            <a
              class="nav-link"
              id="pills-settings-tab"
              data-toggle="pill"
              href="#pills-settings"
              role="tab"
              aria-controls="pills-settings"
              aria-selected="false"
              >Settings</a
            >
          </div>

          <div class="alert alert-secondary" id="daemon-status-box" role="alert">
            <strong>Daemon Status: </strong><br />
            <span id="daemon-status">checking...</span>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content m-2" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-services"
              role="tabpanel"
              aria-labelledby="pills-services-tab"
            >
              <div class="accordion" id="accordionExample"></div>
              <div
                class="modal fade"
                id="share-modal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="shareModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="shareModalLabel">Share Information</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="text-center">
                        <div class="spinner-grow mb-3" id="shared-with-loading" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                      <div id="shared-with" class="mb-3">
                        <p>Currently shared with:</p>
                        <ul class="list-group" id="shared-with-list">
                          <li href="#" class="d-none">
                            <div class="d-flex w-100">
                              <img src="" class="rounded-circle mr-3" height="40" />
                              <h5 class="mb-0 flex-grow-1" style="line-height: 40px;">
                                <a href="#" target="_blank">Name</a>
                              </h5>
                              <button class="btn btn-danger">Revoke</button>
                            </div>
                          </li>
                        </ul>
                      </div>

                      <form id="add-user-form">
                        <div class="form-group">
                          <label for="add-user">Share with a new Keybase user:</label>
                          <div class="form-row">
                            <div class="col-10">
                              <input type="text" class="form-control" />
                              <div class="invalid-feedback"></div>
                            </div>
                            <div class="col-2">
                              <button type="submit" class="btn btn-primary btn-block">
                                Add
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="spinner-grow" id="services-loading" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>

            <div
              class="tab-pane m-2 fade"
              id="pills-settings"
              role="tabpanel"
              aria-labelledby="pills-settings-tab"
            >
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Settings</h5>
                  <form id="settings-form">
                    <div class="form-group">
                      <label for="daemon-url-input">Daemon URL: </label>
                      <input type="text" id="daemon-url-input" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label for="session-token-input">Session Token: </label>
                      <textarea id="session-token-input" class="form-control" rows="5"></textarea>
                    </div>

                    <button type="submit" class="btn btn-secondary">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="js/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="js/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/include/storage.js"></script>
    <script type="text/javascript" src="/include/utils.js"></script>
    <script type="text/javascript" src="/include/keybase.js"></script>
    <script src="js/popup.js"></script>
  </body>
</html>
