<html>
  <head>
    <title>Thanks for installing Paranoid</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1>Thanks for installing Paranoid!</h1>
      <p>
        To start using Paranoid with web services, click "Allow" in the protocol handler prompt in
        the address bar.
      </p>
      <p>
        If the icon is missing, check your Chrome settings page by opening
        <code>chrome://settings/handlers</code>, and make sure that this URL is not blocked.
      </p>

      <p>
        Also, please run the daemon server on your local computer. This daemon server is required to
        be running in order to communicate with KBFS and Keybase. Once running, copy the URL and
        session token into the extension settings.
      </p>
    </main>

    <script type="text/javascript" src="welcome.js"></script>
  </body>
</html>
