<html>
    <body>
        <h1>Thanks for installing Paranoid!</h1>
        <p>
            To start using Paranoid with web services, click "Allow" in the protocol handler prompt
            in the address bar.
        </p>
        <p>
            If the icon is missing, check your Chrome settings page by opening
            <code>chrome://settings/handlers</code>, and make sure that this URL is not blocked.
        </p>

        <script type="text/javascript" src="welcome.js"></script>
    </body>
</html>
