body {
    background-color: #f5f5f5;
    font-family: system-ui, sans-serif;
    font-size: 75%
}

img.img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.btn {
    margin: 10px auto;
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: block;
    cursor: pointer;
    background-color: #666666;
}

a.btn {
    width: fit-content;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn.approve {
    background-color: limegreen;
}

.btn.deny {
    background-color: firebrick;
}

main {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
}

h1 {
    text-align: center;
}

.user-avatar {
    border-radius: 50%;
}
