<html>
  <head>
    <title>Paranoid Share Request</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <h1>Paranoid Share Request from <span class="username"></span></h1>

      <img class="user-avatar" width="180" />

      <p>
        You received a share request from
        <a href="#" class="username-link"><span class="username"></span></a> on Keybase!
      </p>

      <p>
        By accepting, you will be able to see <span class="username"></span>'s
        <span class="field_name"></span> on <span class="origin"></span>, as UID
        <span class="uid"></span>.
      </p>

      <p>Do you wish to confirm?</p>
      <button class="btn approve">Yes, confirm</button>
      <button class="btn deny">No, deny</button>
    </main>

    <script type="text/javascript" src="/include/storage.js"></script>
    <script type="text/javascript" src="/include/utils.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
