body {
    max-width: 500px;
}

button.btn {
    margin: 10px auto;
    padding: 15px 30px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: block;
    cursor: pointer;
}

button.btn:hover {
    opacity: 0.9;
}

button.approve {
    background-color: limegreen;
}

button.deny {
    background-color: firebrick;
}
